<!DOCTYPE html>
<html>
  <head>
    <title>Battlesshift</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
    body {
      background: #fff url("http://waralbum.ru/wp-content/uploads/2010/12/THs_Graf_Spee_burning.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
    </style>
  </head>

  <body>
    <%= render "shared/navigation" %>
    <%= yield %>
  </body>
</html>
